.card {
  font-size: .875rem;
  font-weight: normal;
}

.help-block{
  color: red !important;
}
.color-red-700 {

  color: #d32f2f !important;

}

.alert .close{
  padding-top: 0!important;
}

td.details-control {

  text-align: center;
  color: forestgreen;
  cursor: pointer;

}