body{
	background-color: #fff !important;
}
.add_user_inner{
	background-image: url("../images/signup_bg.jpg");
	 padding:0px 20px 20px 20px;
	 opacity: 0.8;

}

#input_color input{
	color: #fff;
}
#input_color label{
	color: #fff;
}
#input_color span{
	color: #fff;
}
#input_color i{
	color: #fff;
}

/*****************CAPTAIN FORM ********************/
.captain_form_inner{
	background-image: url("../images/signup_bg.jpg");
	 padding:0px 20px 20px 20px;
	 opacity: 0.8;

}


.save_btn_display{
	width: 17%;
    margin: 0 auto;
    display: block;

}
.save_btn_display a:nth-child(1){
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.save_btn_display a:nth-child(2){
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
